---
import { allPosts } from "@/shared/postsDigest";
import type { GetStaticPaths, Page } from "astro";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  return paginate(allPosts, { pageSize: 6 });
};

import type { BlogSchema } from "@/schemas/blog";
import BlogCard from "@/components/BlogCard.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Paginator from "@/components/Paginator.astro";

type BlogPage = Page<BlogSchema>;
const { page } = Astro.props as { page: BlogPage };

const pageTitle = "All posts";

const pages = Array.from({ length: page.lastPage }, (_, i) => i + 1);
---

<BaseLayout pageTitle={pageTitle} readerMode={false}>
  <div class="container grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-12">
    {page.data.map((post) => <BlogCard entry={post} />)}
  </div>

  <Paginator page={page} pages={pages} />
</BaseLayout>
