---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { allPosts } from "@/shared/postsDigest";
import TagCloud from "@/components/TagCloud.astro";

type etags = { name: string; count: number; href: string }[];
const tagCounts = allPosts.reduce<Map<string, number>>((acc, post) => {
  const postTags = post.data.tags ?? [];
  postTags.forEach((tag: string) => {
    acc.set(tag, (acc.get(tag) ?? 0) + 1);
  });
  return acc;
}, new Map());
const cloudTags: etags = Array.from(tagCounts.entries()).map(
  ([name, count]) => ({
    name,
    count,
    href: `/tags/${name}`,
  })
);
const tags = cloudTags.map((tag) => tag.name);
const pageTitle = "Tags";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <div class="container">
    <TagCloud tags={cloudTags} />
  </div>
</BaseLayout>
