---
interface Props {
  actionButtonText?: string | null;
  actionButtonTo?: string | null;
  isBackButton?: boolean | null;
}

import ThemeIcon from "@/components/ThemeIcon.astro";
import MenuSvg from "@/assets/svg/menu.svg";
import BackButtonSvg from "@/assets/svg/back-button.svg";

const links = [
  {
    to: "About",
    url: "/about",
  },
  {
    to: "Blog",
    url: "/blog",
  },
  {
    to: "Series",
    url: "/series",
  },
  {
    to: "Projects",
    url: "/projects",
  },
];

const { actionButtonText = "Coins5", actionButtonTo = "/" } = Astro.props;
const currentPath = Astro.url.pathname;
---

<header>
  <div class="drawer">
    <input id="menuDrawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
      <!-- Navbar -->
      <div class="navbar w-full">
        <!-- <div class="flex-none lg:hidden">
          <label
            for="menuDrawer"
            aria-label="open sidebar"
            class="btn btn-square btn-ghost"
          >
            <MenuSvg />
          </label>
        </div> -->

        <!-- <div class="mx-2 flex-1 px-2">
          <a href={actionButtonTo}> {actionButtonText}</a>
        </div>
        <div class="hidden flex-none lg:block">
          <ul class="menu menu-horizontal">
            {
              links.map((l) => (
                <li>
                  <a href={l.url}>{l.to}</a>
                </li>
              ))
            }
          </ul>
        </div>
        <div role="tablist" class="hidden lg:block tabs tabs-border">
        -->

        <div class="navbar-center">
          <a class="btn btn-ghost text-xl">daisyUI</a>
        </div>

        <!-- <div class="flex justify-center">
          <div role="tablist" class="tabs tabs-border">
            {
              links.map((l) => (
                <a
                  role="tab"
                  class={`tab ${currentPath === l.url ? "tab-active" : ""}`}
                  href={l.url}
                >
                  {l.to}
                </a>
              ))
            }
          </div>
        </div> -->
        <ThemeIcon />
      </div>
      <!-- Page content here -->
      <slot />
    </div>
    <div class="drawer-side">
      <label for="menuDrawer" aria-label="close sidebar" class="drawer-overlay"
      ></label>
      <ul class="menu bg-base-200 min-h-full w-80 p-4">
        <!-- Sidebar content here -->
        {
          links.map((l) => (
            <li>
              <a href={l.url}>{l.to}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</header>
