---
interface Props {
  project: ProjectSchema;
  languages: RepoLang[];
}
import type { ProjectSchema } from "@/schemas/project";
import SVGGithub from "@/assets/svg/github.svg";
import SVGWeb from "@/assets/svg/web.svg";
import type { RepoLang } from "@/shared/githubStats";
import { getEntry } from "astro:content";
const { project, languages } = Astro.props;

import { Image } from "astro:assets";
import { getImage } from "@/shared/imageResolver";

const relatedSerie = await getEntry("serie", project.relatedSeries[0].id);

const processedSrc = project.images.map((i) => getImage(i));
---

<div class="card bg-base-100 group w-full">
  <figure class="relative overflow-hidden">
    <div class="carousel w-full">
      {
        project.images.map((i, $index) => (
          <div id={`${project.repo}-${$index}`} class="carousel-item w-full">
            {processedSrc[$index] ? (
              <Image
                src={processedSrc[$index]}
                alt={project.title}
                class="object-cover transition-transform duration-500 ease-in-out hover:scale-110 w-full"
              />
            ) : (
              <img
                src={i}
                alt={project.title}
                class="object-cover transition-transform duration-500 ease-in-out hover:scale-110 w-full"
              />
            )}
          </div>
        ))
      }
    </div>

    <!-- Indicadores sobre la imagen -->
    {
      project.images.length > 1 ? (
        <div class="absolute bottom-2 left-1/2 -translate-x-1/2 flex gap-2">
          {project.images.map((i, $index) => (
            <a href={`#${project.repo}-${$index}`} class="btn btn-xs btn-ghost">
              <div class="badge badge-primary badge-xs" />
            </a>
          ))}
        </div>
      ) : null
    }
  </figure>

  <div class="card-body">
    <h2 class="card-title">{project.title}</h2>
    <p>{project.description}</p>
    <div>
      {
        languages.map((l) => (
          <div>
            <span>
              <span>{l.name}</span>
              <span class="text-base-content/60 ml-2">{l.pct}%</span>
            </span>
            <progress
              class="progress progress-primary"
              value={l.pct}
              max="100"
            />
          </div>
        ))
      }
    </div>
    <div class="card-actions mt-4 justify-between">
      <div>
        <a class="btn btn-link" href={project.repo} target="_blank"
          ><SVGGithub />Repo</a
        >
        <a class="btn btn-link" target="_blank" href={project.url}>
          <SVGWeb /> Demo
        </a>
      </div>
      <div>
        <a
          class="btn btn-primary"
          href={`/posts/${relatedSerie?.data.firstEntry.id}`}
          >Learn
        </a>
      </div>
    </div>
  </div>
</div>
