---
// import "@fontsource-variable/outfit";
import Analytics from "@vercel/analytics/astro";
import "@fontsource-variable/noto-sans-jp";
import "@fontsource-variable/outfit";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource-variable/fira-code";

import SeoBlogPost from "@/components/SeoBlogPost.astro";
import SeoPage from "@/components/SeoPage.astro";

import Drawer from "@/components/Drawer.astro";
import Footer from "@/components/Footer.astro";
import "@/styles/global.css";
// import { undefined } from "astro:schema";

const { pageTitle, blogPostSeo, pageSeo } = Astro.props;
const currentPath = Astro.url.pathname;

const isPost = currentPath.split("/")[1] === "posts";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    {blogPostSeo ? <SeoBlogPost data={blogPostSeo} /> : null}
    {pageSeo ? <SeoPage data={pageSeo} /> : null}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Drawer
      actionButtonText={isPost ? "Coins5's Blog" : "Coins5"}
      actionButtonTo={isPost ? "/blog" : null}
      isBackButton={isPost}
    >
      <div class="container pb-24 pt-4">
        <slot />
      </div>
    </Drawer>
    <Footer />
    <Analytics />
  </body>
</html>
