---
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";

import relativeTime from "dayjs/plugin/relativeTime";

dayjs.extend(relativeTime);

const { frontmatter } = Astro.props;
const dayDate = dayjs(frontmatter.pubDate);
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="prose">
    <div class="flex justify-center">
      <img
        class=""
        src={frontmatter.image.url}
        width="300"
        alt={frontmatter.image.alt}
      />
    </div>

    <h1>
      {frontmatter.title}
    </h1>
    <p>
      Written by: {frontmatter.author}
      <br />
      <span class="text-sm">
        Posted on {dayDate.format("DD MMM YYYY")} - {dayDate.fromNow()}
      </span>

      <br />
      {
        frontmatter.tags.map((tag: string) => (
          <a
            class="badge badge-soft badge-primary no-underline"
            href={`/tags/${tag}`}
          >
            {tag}
          </a>
        ))
      }
    </p>

    <p><em>{frontmatter.description}</em></p>

    <br />

    <slot />
  </div>

  <script type="module" src="/src/scripts/copy-code.ts"></script>
  <script>
    import { enableImageZoom } from "../scripts/zoom.ts";
    enableImageZoom();
  </script>
</BaseLayout>
